Package: com.bandarhl.bhtiktok
Name: BHTikTok
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tweak for TikTok!
Maintainer: Bandar Alruwaili
Author: Bandar Alruwaili
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
